asyncio
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
GPUtil
httpx
moviepy
natsort
opencv-python
Pillow
psutil
pytz
pip install https://github.com/TelegramPlayGround/pyrogram/archive/unknown_errors.zip
requests
tgcrypto
uvloop
yt_dlp
pymegatools
